<div class="g-wrapper">
  <div class="g-container">
    <nav class="header-nav">
      <a routerLink="/calcular-media" routerLinkActive="active-link">1. Calcular Média</a>
      <a routerLink="/calculadora" routerLinkActive="active-link">2. Calculadora</a>
      <a routerLink="/cadastro-aluno" routerLinkActive="active-link">3. Cadastro Aluno</a>
      <a routerLink="/apolice-seguro" routerLinkActive="active-link">4. Apólice Seguro</a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>